{% extends 'base.html.twig' %}
{% block body %}
    {% block title %}
        Sharik's page
    {% endblock %}
    <div>Hello, {{ dogsName }}!</div>
    <div>General dogs count = {{ dogs | length }}</div>
{% endblock %}
